a {
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.a-button {
  text-decoration: none;
  border: 1px solid #3e3e3e00;
}

.a-button:hover {
  border: 1px solid #888;
  text-decoration: none;
}

.brand-section {
  width: 100%;
  min-height: 250px;
  position: relative;
  background: rgb(2, 0, 36);
  //background-image: radial-gradient(circle, #004067 0%, #1e1e1e 100%);
  background-image: radial-gradient(circle, #3e3e3e 0%, #1e1e1e 75%);
}

.brand-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
