<nav
  class="navbar sticky-top cust-bg-primary navbar-expand-lg navbar-dark border-bottom"
>
  <div class="container-fluid">
    <a
      class="navbar-brand text-secondary"
      routerLink="/problems"
      title="Go to home"
    >
      <span class="h6">
        <i
          class="pi pi-angle-double-up text-warning align-middle pe-1"
          style="font-size: 1.5rem"
        ></i>
        <span class="title-algo text-light fw-light">algo</span>
        <span class="title-blitz text-warning fwbold">
          {{ "{" }}Bytes{{ "}" }}
        </span>
      </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ps-4">
          <a
            class="nav-link"
            aria-current="page"
            title="Go to all problems"
            routerLink="/problems"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="font-sm">Problems</span>
          </a>
        </li>
        <li class="nav-item ps-2">
          <a
            class="nav-link"
            aria-current="page"
            title="Go to all problems"
            routerLink="/problems/top-10"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="font-sm"> Top 10 Problems</span>
          </a>
        </li>
        <li class="nav-item ps-2">
          <a
            class="nav-link"
            aria-current="page"
            title="Go to all problems"
            routerLink="/problems/top-25"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="font-sm"> Top 25 Problems</span>
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <div class="font-sm align-middle pt-1 pe-3 me-3 text-light border-end">
          <a
            class="fw-s a-link text-light"
            target="_blank"
            href="https://medium.com/p/4c86d61f398a"
          >
            <small> System Design Blog </small>
          </a>
        </div>

        <a class="align-middle pe-3 me-3 text-light border-end" href="#">
          <i class="pi align-middle pi-github" style="font-size: 1rem"></i
        ></a>

        <a
          class="align-middle text-light pe-3 me-3 border-end"
          target="_blank"
          href="https://www.linkedin.com/in/sameer-khurd"
        >
          <i class="pi align-middle pi-linkedin" style="font-size: 1rem"></i
        ></a>

        <div class="font-sm align-middle pt-1">
          <small>
            Logged in as <strong>{{ dataService.user.username }}</strong>
          </small>
        </div>
      </form>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
